{"account":{"email":"","password":"","serverName":"","uin":0},"archive":{"path":"/mnt","sizeLimit":1024,"useArchive":true},"logging":{"path":"/dev/null","rtspPath":"/dev/null","isTruncate":false},"cameras":[{"id":0,"name":"My IP camera Virt2real","urlHigh":"rtsp://127.0.0.1/video","recordType":"disable","rtspTransport":"auto","useCameraMotionDetector":false,"useSound":false}],"network":{"ivideonProxyHost":"proxy.ivideon.com"}}